@media (max-width:900px) {
  #fragment {
    display: none;
  }
  #fragment2 {
    display: block;
  }
  #fragment3 {
    display: none;
  }
}

@media (min-width:901px) and (max-width:1387px) {
  #fragment {
    display: block;
  }
  #fragment2 {
    display: none;
  }
  #fragment3 {
    display: none;
  }
}

@media (min-width:1388px) {
  #fragment {
    display: none;
  }
  #fragment2 {
    display: none;
  }
  #fragment3 {
    display: block;
  }
}

html {
  background-color: grey;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.App {
  overflow: hidden;
  height: 100%;
  background-color: #6B6D76;
}

.mainSection {
  height: 100%;
}

.mainRow {
  height: 100%;
  background-color: #6B6D76;
}

.months {
  padding-top: 15px;
}

.month {
  color: #EDEDE5;
}

.shoes {
  transition: all .2s ease-in-out;
  background: url('${src}');
  height: 275px;
  min-width: 275px;
  padding-top: 25px;
  margin: 25px;
  vertical-align: middle;
  overflow: 'hidden';
  border-radius: 25px;
}

.shoeExpired {
  opacity: .5;
}

.shoes:hover {
  transform: scale(1.1);
}

.shoeRow {
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.ads {
  padding: 0;
  height: 100%;
  text-align: center;
}

#mainContainer {
  padding: 0;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#alertRow {
  width: 100%;
  margin: 0;
}

#alert {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}